body {
  margin: 0;
  padding: 0;
  overflow: auto;
  word-break: keep-all;
  -ms-word-break: keep-all;
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: lightslategray;
  font-family: helvetica, sans-serif;
  width: 350px;
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type='text'] {
  padding: 5px;
  width: 150px;
}

p {
  background: #ffc125;
  color: #5e2612;
  padding: 10px;
  visibility: hidden;
}
